.form-wrapper {
  width: 700px;
  border: 1px solid lightgrey;
  padding: 15px;
  margin: 15px auto;
  .popup-form {
  	display: grid;
	  grid-template-columns: repeat(4, 1fr);
	  grid-gap: 15px;
	  font-family: rcl;
	  font-size: 14px;
	  position: relative;
	  padding-bottom: 45px;
	  label {
	  	display: block;
	  	height: 30px;
	  	line-height: 30px;
	  	position: relative;
	  	&:nth-last-of-type(1),
	  	&:nth-last-of-type(2) {
	  	  cursor: pointer;
	    }
	  }
	  input,
	  select,
	  button {
	  	border: 1px solid lightgrey;
	  	height: 30px;
	    font-family: rcl;
	    font-size: 14px;
	    &:placeholder {
	      font-family: rcl;
	      font-size: 14px;
	    }
	    position: relative;
	  }
	  input[type="checkbox"] {
	  	cursor: pointer;
	  }
	  input[type="checkbox"]+span {
	    position: absolute;
	    left: 0;
	    top: 2px;
	    width: 62px;
	    height: 26px;
	    background: url(../img/yes-and-no.png) no-repeat;
	    background-position: 0 -26px;
	    background-size: cover;
		}
		input[type="checkbox"]:checked+span {
	    background-position: 0 0px
	  }
    button {
    	position: absolute;
    	bottom: 0px;
    	left: 50%;
    	transform: translate(-50%);
    	padding: 0 15px;
    	background-color: lightgrey;
    	border-radius: 6px;
    	cursor: pointer;
    }
		.validation-info {
			content: '';
			display: none;
			width: 100%;
			height: 28px;
			border: 1px solid red;
			border-left-width: 6px;
			padding-left: 6px;
			background-color: white;
			position: absolute; z-index: 7777;
			top: 0px; left: 0px;
			overflow: hidden;
		}
	}
}

label[for='popup-form-phone']:after {
	content: '\f067';
	font-family: fa;
	font-size: 10px;
  display: block;
  position: absolute;
  z-index: 7777;
  top: 0px;
  right: -10px;
}