a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@font-face {
    font-family: rcl;
    src: url(../fonts/RobotoCondensedLight.ttf)
}

@font-face {
    font-family: fa;
    src: url(../fonts/fa-solid-900.ttf)
}

.size-info {
    width: 120px;
    height: 30px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    border-radius: 6px;
    position: fixed;
    left: 3px;
    bottom: 21px;
    z-index: 1
}

.size-info-1 {
    z-index: 2
}

@media only screen and (min-width:320px) {
    .size-info-2 {
        z-index: 3
    }
}

@media only screen and (min-width:576px) {
    .size-info-3 {
        z-index: 4
    }
}

@media only screen and (min-width:768px) {
    .size-info-4 {
        z-index: 5
    }
}

@media only screen and (min-width:992px) {
    .size-info-5 {
        z-index: 6
    }
}

@media only screen and (min-width:1200px) {
    .size-info-6 {
        z-index: 7
    }
}

@media only screen and (min-width:1920px) {
    .size-info-7 {
        z-index: 8
    }
}

* {
    box-sizing: border-box
}

a,
a:hover {
    color: #000;
    text-decoration: none
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

.form-wrapper {
    width: 700px;
    border: 1px solid #d3d3d3;
    padding: 15px;
    margin: 15px auto
}

.form-wrapper .popup-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    font-family: rcl;
    font-size: 14px;
    position: relative;
    padding-bottom: 45px
}

.form-wrapper .popup-form label {
    display: block;
    height: 30px;
    line-height: 30px;
    position: relative
}

.form-wrapper .popup-form label:last-of-type,
.form-wrapper .popup-form label:nth-last-of-type(2) {
    cursor: pointer
}

.form-wrapper .popup-form button,
.form-wrapper .popup-form input,
.form-wrapper .popup-form select {
    border: 1px solid #d3d3d3;
    height: 30px;
    font-family: rcl;
    font-size: 14px;
    position: relative
}

.form-wrapper .popup-form button:placeholder,
.form-wrapper .popup-form input:placeholder,
.form-wrapper .popup-form select:placeholder {
    font-family: rcl;
    font-size: 14px
}

.form-wrapper .popup-form input[type=checkbox] {
    cursor: pointer
}

.form-wrapper .popup-form input[type=checkbox]+span {
    position: absolute;
    left: 0;
    top: 2px;
    width: 62px;
    height: 26px;
    background: url(../img/yes-and-no.png) no-repeat;
    background-position: 0 -26px;
    background-size: cover
}

.form-wrapper .popup-form input[type=checkbox]:checked+span {
    background-position: 0 0
}

.form-wrapper .popup-form button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 0 15px;
    background-color: #d3d3d3;
    border-radius: 6px;
    cursor: pointer
}

.form-wrapper .popup-form .validation-info {
    content: "";
    display: none;
    width: 100%;
    height: 28px;
    border: 1px solid red;
    border-left-width: 6px;
    padding-left: 6px;
    background-color: #fff;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    overflow: hidden
}

label[for=popup-form-phone]:after {
    content: "\f067";
    font-family: fa;
    font-size: 10px;
    display: block;
    position: absolute;
    z-index: 9;
    top: 0;
    right: -10px
}